# Experiment 7: Loops in Python

### Name: Lehalyaa L
### PRN: 25070123176
### Batch: ENTC - A2

## While loop

In [ ]:
# While loop
# Use when the number of iterations is not known

Syntax:
while condition:
  statement(s)

In [25]:
# Print numbers

i = 0
while(i < 6):
  print(i)
  i += 1

0
1
2
3
4
5

In [24]:
# Print numbers according to User Input

num = int(input("Enter number of Iterations: "))

i = 1
while(i <= num):
  print(i)
  i += 1

Enter number of Iterations: 8
1
2
3
4
5
6
7
8

In [23]:
# Factorial of a Number

num = int(input("Enter the number: "))
i = num
fact = 1
while(i > 0):
  fact = fact * i
  i -= 1
print(fact)

Enter the number: 5
120

In [21]:
# Fibonacci Series using while loop

num = int(input("Enter the number of iterations: "))
n1 = 0
n2 = 1
print(n1, n2 , end = ' ')
num = num - 2

while(num > 0):
  n3 = n1 + n2
  print(n3, end = ' ')
  n1 = n2
  n2 = n3
  num -= 1

Enter the number of iterations: 8
0 1 1 2 3 5 8 13

In [20]:
# Reverse a Number

num = int(input("Enter the number to be reversed: "))
reverse = 0

while (num > 0):
  remainder = num % 10
  reverse = (reverse * 10) + remainder
  num = num // 10
print(reverse)

Enter the number to be reversed: 120607
706021

In [19]:
# Check Palindrome or not

text = input("Enter the String: ")
text = text.lower()
text1 = text[::-1]

if (text == text1):
  print("It is a Palindrome")
else:
  print("It is not a Palindrome")

Enter the String: Lehalyaa
It is not a Palindrome

In [18]:
# Check Palindrome or not using While loop

text = input("Enter the String: ")
text = text.lower()
result = True
i = 0
j = len(text) - 1

while(i < j):

  if(text[i] != text[j]):
    result = False
    break
  else:
     i += 1
     j -=1

if(result):
  print("It is a Palindrome")
else:
  print("It is not a Palindrome")

Enter the String: Malayalam
It is a Palindrome

# The Break Statement

In [17]:
# Exit the loop when i is 3

i = 0
while(i <= 5):
  print(i)
  i += 1
  if(i == 3):
    break

0
1
2

In [27]:
# Search an element in a list

s = [176, 175, 174, 166, 142, 141, 31, 32, 33, 29, 28, 27]

prn = int(input("Enter a 3 digit PRN: "))
i = 0
found = False

while(i < len(s)):
  if(prn == s[i]):
    print("Element found at index ", i + 1)
    found = True
    break
  i += 1

if not found:
  print("Element not Found")

Enter a 3 digit PRN: 176
Element found at index  1

# While - Continue

In [15]:
# Print numbers from 1 to 10 (skip 5)

i = 0
while(i <= 10):
  if(i == 5):
    i += 1
    continue
  print(i)
  i += 1

0
1
2
3
4
6
7
8
9
10

In [14]:
# Print only odd numbers (1 to 10)

i = 1
while(i <= 10):
  if (i %2 == 0):
    i += 1
    continue
  else:
    print(i)
    i += 1

1
3
5
7
9

# For - Loop

In [13]:
# Print numbers from 1 to 5

for i in range(1, 6):
  print(i)

1
2
3
4
5

In [12]:
# Print Even Numbers from 1 to 10

for i in range(2,11,2):
  print(i, end = ' ')

2 4 6 8 10

In [11]:
# Sum of first N numbers

n = int(input("Enter the number: "))

sum = 0

for i in range(0, n+1):
  sum += i

print("The total is ", sum)

Enter the number: 10
The total is  55

In [10]:
# Nested for Loop

for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [9]:
# 3x3 Matrix Display

A = [[1,2,3], [4,5,6], [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j], end = " ")
  print()

1 2 3
4 5 6
7 8 9

In [8]:
# Multiplication of two 3x3 Matrices(Most Important)

A = [[1,2,3], [4,5,6], [1,2,1]]

B = [[1,1,1], [6,5,4], [3,2,1]]

result = [[0,0,0], [0,0,0], [0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j] += A[i][k] * B[k][j]

print("Product of Matrices: ")
for row in result:
  print(row)

Product of Matrices:
[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [7]:
# Python Program to accept three digits and print all possible combinations

a = int(input("first no: "))
b = int(input("second no: "))
c = int(input("third no: "))
num = [a, b, c]
for i  in  range(len(num)):
  for  j in range(len(num)):
    for k in  range(len(num)):
      if(num[i] != num[j] and num[j] != num[k] and num[i] != num[k]):
        print(num[i], num[j], num[k])

first no: 2
second no: 4
third no: 6
2 4 6
2 6 4
4 2 6
4 6 2
6 2 4
6 4 2

In [5]:
''' Python Program to accept three digits and print all possible combinations
without  range function'''

a = int(input("first no: "))
b = int(input("second no: "))
c = int(input("third no: "))
num = [a, b, c]
for i in num:
  for j in num:
    for k in num:
      if(i != j and j != k and i != k):
        print(i, j, k)

first no: 2
second no: 4
third no: 6
2 4 6
2 6 4
4 2 6
4 6 2
6 2 4
6 4 2

In [2]:
# Program to check Armstrong number or not

a = input("Enter the number: ")
l = len(a)
b = int(a)
sum = 0
for i in a:
  sum += int(i)**l
print(sum)
if (sum == b):
  print("It is an Armstrong Number")
else:
  print("It is not an Armstrong Number")

Enter the number: 153
153
It is an Armstrong Number

In [3]:
# Print primenumbers in an given range

max_range = int(input("Enter range: "))

for  i in range(2,max_range):
  for j in range(2,i):
    if (i % j == 0):
      break
  else:
    print(i)

Enter range: 20
2
3
5
7
11
13
17
19

In [29]:
# Write a code for inverted pyramid
n = 5
for i in range(n):
  print(i * ' ',(n-i) * '$ ')

 $ $ $ $ $
  $ $ $ $
   $ $ $
    $ $
     $

In [30]:
# Write a code fo print pyramid star  pattern

n = 5
for i in range(n):
  print((n-i) * ' ',(i+1) * '$ ')

      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $

In [36]:
# Print Number Triangle triangle

n = 6

for i in range(1,n+1):
  for j in range(i):
    print(i, end = ' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [37]:
#Print floyd's Triangle

row = int(input("Enter the number of rows: "))
num = 1

for i in range(1, row + 1):
  for j in range(1, i+1):
    print(num, end= ' ')
    num += 1
  print()

Enter the number of rows: 6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [39]:
# Print Hour glass:

n = 5
for i in range(n):
  print(i * ' ',(n-i) * ' $')
for i in range(n):
  print((n-i) * ' ',(i+1) * '$ ')

  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $
      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $

In [41]:
# Print Diamond
n = 5
for i in range(n):
  print((n-i) * ' ',(i+1) * '$ ')
for i in range(n):
  print(i * ' ',(n-i) * ' $')

      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $
  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $

In [42]:
# Write a Python code for Inverted Right angle Triangle pattern:

for i in range(5 , 0 , -1):
  print(i * '$ ')

$ $ $ $ $
$ $ $ $
$ $ $
$ $
$